<html>
    <head>
        <title>Crossout Craft Report</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>item</th>
                        <th>rarity</th>
                        <th>category</th>
                        <th>faction</th>
                        <th>craft or buy</th>
                        <th>craft price</th>
                        <th>buy price</th>
                        <th>sell price</th>
                        <th>margin</th>
                        <th>craft time</th>
                        <th>margin per minute</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let item of _.orderBy(items, 'marginPerMin', 'desc')) { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><a target="_blank" href="https://crossoutdb.com/item/<%= item.id %>"><%= item.name %></a></td>
                        <td><span class="rarity-<%= item.rarity %>"><%= item.rarity %></span></td>
                        <td><%= item.category %></td>
                        <td><%= item.faction %></td>
                        <td><%= item.craftOrBuy %></td>
                        <td><%= _.round(item.craftPrice / 100, 2) %></td>
                        <td><%= _.round(item.buyPrice / 100, 2) %></td>
                        <td><%= _.round(item.sellPrice / 100, 2) %></td>
                        <td><%= _.round(item.margin / 100, 2) %></td>
                        <td><%= item.craftTime %></td>
                        <td><%= _.round(item.marginPerMin / 100, 2) %></td>
                    </tr>
                    <% } %>
                </tbody>
        </table>
    </body>
</html>
