<html>
<head>
    <title>Crossout Craft Report</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <% const factions = _.uniq(_.map(items, 'faction')).sort();
    if (factions.length > 1) { %>
    <div class="filters-wrapper">
        <% for (let faction of factions) { %>
            <label><input type="checkbox" name="faction" value="<%=faction%>" class="faction-filter" checked><%=faction%></label>
        <% } %>
    </div>
    <% } %>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>item</th>
                    <th>rarity</th>
                    <th>category</th>
                    <th>faction</th>
                    <th>craft or buy</th>
                    <th>craft price</th>
                    <th>buy price</th>
                    <th>sell price</th>
                    <th>margin</th>
                    <th>craft time</th>
                    <th>margin per minute</th>
                </tr>
            </thead>
            <tbody>
                <% for (let item of _.orderBy(items, 'marginPerMin', 'desc').filter(item => item.rarity !== 'Common')) { %>
                <tr class="rarity-<%= item.rarity %>" data-faction="<%=item.faction%>">
                    <td><%= item.id %></td>
                    <td><img src="./img/db.png" alt="crossout DB" height="14">&nbsp;<a target="_blank" href="https://crossoutdb.com/item/<%= item.id %>"><%= item.name %></a></td>
                    <td><span class="rarity"><%= item.rarity %></span></td>
                    <td><%= item.category %></td>
                    <td><%= item.faction %></td>
                    <td><%= item.craftOrBuy %></td>
                    <td><%= _.round(item.craftPrice / 100, 2) %>&nbsp;<img src="./img/coin.png" alt="coins" height="14"></td>
                    <td><%= _.round(item.buyPrice / 100, 2) %>&nbsp;<img src="./img/coin.png" alt="coins" height="14"></td>
                    <td><%= _.round(item.sellPrice / 100, 2) %>&nbsp;<img src="./img/coin.png" alt="coins" height="14"></td>
                    <td><%= _.round(item.margin / 100, 2) %>&nbsp;<img src="./img/coin.png" alt="coins" height="14"></td>
                    <td><%= item.craftTime %> min</td>
                    <td><%= _.round(item.marginPerMin / 100, 2) %>&nbsp;<img src="./img/coin.png" alt="coins" height="14">/min</td>
                </tr>
                <% } %>
            </tbody>
    </table>
    <script>
        function onFactionFilterClick(event) {
            const {value: faction, checked} = event.target;
            document.querySelectorAll(`.table tr[data-faction="${faction}"]`).forEach(el => el.style.display = checked ? '' : 'none');
            // No items placeholder for no rows displayed
        }
        document.querySelectorAll('.faction-filter').forEach(el => el.addEventListener("click", onFactionFilterClick, false))
    </script>
</body>
</html>
