<html>
    <head>
        <title>Crossout Craft Report</title>
        <style nonce="nonce-<%= new Date() %>">
            *{
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            body{
                font-family: Helvetica;
                -webkit-font-smoothing: antialiased;
                background: #ffb681;
            }

            .table-wrapper{
                margin: 10px 70px 70px;
                box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
            }
            
            .table {
                border-radius: 5px;
                font-size: 17px;
                font-weight: normal;
                border: none;
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                white-space: nowrap;
                background-color: white;
            }
            
            .table td, .table th {
                text-align: left;
                padding: 8px;
            }
            
            .table td {
                border-right: 1px solid #f8f8f8;
            }
            
            .table tr:nth-child(even) {
                background: #f8f8f8;
            }
            .rarity-Common {
                color: #696969;
            }
            .rarity-Rare {
                color: #0040fd;
            }
            .rarity-Special {
                color: #33cccc;
            }
            .rarity-Epic {
                color: #6a0082;
            }
            .rarity-Legendary {
                color: #daa520;
            }
            .rarity-Relic {
                color: #d2691e;
            }
        </style>
    </head>
    <body>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>item</th>
                        <th>rarity</th>
                        <th>category</th>
                        <th>faction</th>
                        <th>craft or buy</th>
                        <th>craft price</th>
                        <th>buy price</th>
                        <th>sell price</th>
                        <th>margin</th>
                        <th>craft time</th>
                        <th>margin per minute</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let item of _.orderBy(items, 'marginPerMin', 'desc')) { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><a target="_blank" href="https://crossoutdb.com/item/<%= item.id %>"><%= item.name %></a></td>
                        <td><span class="rarity-<%= item.rarity %>"><%= item.rarity %></span></td>
                        <td><%= item.category %></td>
                        <td><%= item.faction %></td>
                        <td><%= item.craftOrBuy %></td>
                        <td><%= _.round(item.craftPrice / 100, 2) %></td>
                        <td><%= _.round(item.buyPrice / 100, 2) %></td>
                        <td><%= _.round(item.sellPrice / 100, 2) %></td>
                        <td><%= _.round(item.margin / 100, 2) %></td>
                        <td><%= item.craftTime %></td>
                        <td><%= _.round(item.marginPerMin / 100, 2) %></td>
                    </tr>
                    <% } %>
                </tbody>
        </table>
    </body>
</html>
